@import "tailwindcss";

.container {
  @apply flex items-center justify-center min-h-screen;
}

.formHead {
  @apply pb-[32px];
}

.mainContent {
  @apply flex flex-col gap-[8px] w-full;
}

.asideContent {
  @apply w-full flex flex-col gap-[8px] pt-3;
}

.helpText {
  @apply font-medium text-[12px] leading-[16px] tracking-[0px] text-center;
}
