@import "tailwindcss";

.container {
  @apply w-full flex flex-col;
}

.label {
  @apply
    font-medium text-[14px] leading-[20px] tracking-[0px]
    pb-[4px];
  color: var(--grayText);
}

.input {
  @apply
    w-full h-[60px] rounded-[16px] px-[12px] py-[10px]
    font-medium text-[16px] leading-[24px] tracking-[0px]
    disabled:opacity-50 disabled:cursor-not-allowed
    transition-colors duration-200;
  background-color: var(--grayBackground);
  color: var(--grayText);
  border: 1px solid var(--grayBorder);
}

.input::placeholder {
  color: var(--grayText);
}

.input:focus {
  outline: none;
  border-color: rgba(59, 130, 246, 1);
}
