@import "tailwindcss";

.container {
  @apply flex items-center justify-center min-h-screen;
}

.formHead {
  @apply lg:pb-[32px] pb-[24px];
}

.mainContent {
  @apply flex flex-col gap-[8px] w-full;
}

.confirmContainer {
  @apply py-[10px]
}

.buttonContainer {
  @apply w-full pt-3 flex flex-col;
}


.helpTextContainer {
  @apply flex flex-col text-center pt-2;
}

.helpText {
  @apply font-medium text-[12px] leading-[16px] tracking-[0px];
}

