@import "tailwindcss";

.container {
  @apply flex items-start cursor-pointer select-none;
  position: relative;
}

.input {
  cursor: pointer;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  appearance: none;
}

.input::after {
  @apply transition-all duration-200;
  content: "";

  width: 18px;
  height: 18px;

  background: url("@/assets/checkboxUnactive.svg") center / 18px 18px no-repeat;
}

.input:checked::after {
  background: url("@/assets/checkboxActive.svg") center / 18px 18px no-repeat;
}

.input:not(:checked):hover::after {
  background: url("@/assets/checkboxHover.svg") center / 18px 18px no-repeat;
}

.input:checked:hover::after {
  background: url("@/assets/checkboxActiveHover.svg") center / 18px 18px no-repeat;
}

.label {
  @apply ml-2 py-[2px]
  font-medium text-[14px] leading-[20px] tracking-[0px];
  flex: 1;
}
