@import "tailwindcss";

.nav {
  @apply flex items-center justify-center 
   py-[14px] 
   bg-white
   md:px-36 md:justify-between;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08), 0 4px 16px 0 rgba(0, 0, 0, 0.08);
}

.logo {
  @apply w-[115px] h-[40px];
}

.iconsContainer {
  @apply hidden md:flex md:items-center md:gap-4 md:py-[6px] ;
}

.navButton {
  @apply flex justify-center items-center p-0;
}

.icon {
  @apply h-8;
}
