@import "tailwindcss";

.nav {
  @apply flex items-center justify-center py-[14px] bg-white shadow-md;
}

@media (min-width: 768px) {
  .nav {
    @apply px-36 justify-between;
  }
}

.logo {
  @apply w-[115px] h-[40px];
}

.iconsContainer {
  @apply hidden;
}

@media (min-width: 768px) {
  .iconsContainer {
    @apply flex items-center gap-4 py-[6px];
  }
}

.navButton {
  @apply flex justify-center items-center p-0;
}

.icon {
  @apply h-8;
}