@import "tailwindcss";

:root {
  --headersGray: rgba(29, 32, 35, 1);

  --gray-200: rgba(231, 235, 242, 1);
  --gray-100: rgba(244, 245, 247, 1);

  --grayBackground: rgba(242, 243, 247, 1);
  --grayText: rgba(98, 108, 119, 1);
  --grayBorder: rgba(188, 195, 208, 0.5);

  --blue-500: rgba(38, 98, 243, 1);
  --blue-300: rgba(112, 154, 254, 1);
  --blue-700: rgba(20, 80, 224, 1);

  --red: rgba(239, 68, 68, 1);
}

@layer components {
  body {
    @apply bg-[#E7EAFA];
    font-family: "Montserrat", sans-serif;
  }

  h1 {
    @apply font-semibold 
    lg:text-[44px] lg:leading-[44px] 
    text-[32px] leading-[36px]
    tracking-[0px]
    text-center;
    color: var(--headersGray);
  }

  span {
    @apply font-medium text-[14px] leading-[20px] tracking-[0px];
    color: var(--grayText);
  }

  a {
    @apply font-medium text-[14px] leading-[20px] tracking-[0px]
    no-underline;
    color: var(--blue-500);
  }

  a:hover {
    text-decoration: underline;
  }

  button {
    @apply px-6 py-[22px] rounded-[10px]
    font-bold text-xs leading-4 tracking-[0.05em] uppercase
    align-middle tabular-nums
    transition-all duration-200
    cursor-pointer
    disabled:opacity-50 disabled:cursor-not-allowed
    active:scale-95;
  }

  button.primary {
    @apply text-white;
    background-color: var(--blue-500);
  }

  button.primary:hover {
    background-color: var(--blue-300);
  }

  button.primary:active {
    background-color: var(--blue-700);
  }

  button.secondary {
    background-color: var(--gray-200);
    color: rgba(29, 32, 35, 1);
  }

  button.secondary:hover {
    background-color: var(--gray-100);
  }

  button.secondary:active {
    background-color: var(--gray-200);
  }

  .form-center {
    @apply bg-white
    flex flex-col items-center justify-center
    py-[24px] px-[20px]
    max-w-[536px] min-w-[360px]
    max-h-[70vh]
    rounded-[24px]
    lg:rounded-[48px]
    lg:pt-[56px] lg:px-[68px] lg:pb-[40px];

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow:
      0 0 16px 0 rgba(0, 0, 0, 0.08),
      0 4px 16px 0 rgba(0, 0, 0, 0.08);
  }

  @media (max-height: 640px) {
    .form-center {
      bottom: 0;
      left: 0;
      right: 0;
      top: auto;
      transform: none;
      border-radius: 24px 24px 0 0;
      max-width: 100%;
    }
  }

  .error {
    @apply font-medium text-[12px] leading-[16px];
    color: var(--red);
  }
}
