@import "tailwindcss";

:root {
  --headersGray: rgba(29, 32, 35, 1);

  --grayBackground: rgba(242, 243, 247, 1);
  --grayText: rgba(98, 108, 119, 1);
  --grayBorder: rgba(188, 195, 208, 0.5);

  --onFocusBlue: rgba(59, 130, 246, 1);
}

@layer base {
  body {
    @apply bg-[#E7EAFA];
    font-family: 'Montserrat', sans-serif;
  }
}